
@{
    ViewBag.Title = "Staj Ekle";
}
@using System.Web.Security;
@using InternShip.MvcUI.Models;
@model MembershipUserCollection
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Staj Ekle
                </div>
                <div class="block-controls">
                    <a href="/User/Index" class="block-control block-control-remove"></a>
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/Role/AddUser2Role" method="post">
                        <div class="ui-widget form-group">
                            <label for="student">Öğrenci </label>
                            <input id="student" class="form-control" name="StudentID">
                        </div>
                        <div class="ui-widget form-group">
                            <label for="company">Şirket </label>
                            <input id="company" class="form-control" name="CompanyID">
                        </div>
                        <div class="ui-widget form-group">
                            <label for="adviser">Danışman </label>
                            <select id="adviser" class="form-control" name="AdviserID">
                                @if (Model == null)
                                {
                                    <option value="-1" disabled>Danışman Kullanıcı Bulunamadı.</option>
                                }
                                else
                                {
                                    foreach (MembershipUser item in Model)
                                    {
                                        <option value="@item.UserName">@item.Comment</option>
                                    }

                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Başlangıç Tarihi</label>
                            <div class="input-group" id="datetimepicker5">
                                <span class="input-group-addon input-group-icon">
                                    <span class="glyphicon-calendar glyphicon"></span>
                                </span>
                                <input type="text" class="form-control" autocomplete="off" id="startdate" name="StartDate" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Bitiş Tarihi</label>
                            <div class="input-group" id="datetimepicker6">
                                <span class="input-group-addon input-group-icon">
                                    <span class="glyphicon-calendar glyphicon"></span>
                                </span>
                                <input type="text" class="form-control" autocomplete="off" id="enddate" name="EndDate" readonly />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time">Süre : </label>
                            <input type="number" class="form-control" id="time" placeholder="" name="Time">
                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                    @if (ViewBag.Message != null)
                    {
                        <span id="spnmessage" style="font-size:20px">@ViewBag.Message</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scriptSection{
    <script>
        $("#company").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Company/AutoComplete",
                    dataType: "json",
                    data: {
                        search: $("#company").val()
                    },
                    success: function (data) {
                        debugger;
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.value
                            }
                        }))
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: company autocomplete");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                console.log("Selected: " + ui.item.value + " aka " + ui.item.id);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
        $("#student").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Student/AutoComplete",
                    dataType: "json",
                    data: {
                        search: $("#student").val()
                    },
                    success: function (data) {
                        debugger;
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.value
                            }
                        }))
                    },
                    error: function (xhr, status, error) {
                        console.log("Error: student autocomplete");
                    }
                });
            },
            minLength: 2,
            select: function (event, ui) {
                console.log("Selected: " + ui.item.value + " aka " + ui.item.id);
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });


    </script>
}