
@{
    ViewBag.Title = "Parola Değiştir.";
}
<div class="row">
    <div class="col-md-12">
        <div class="block">
            <div class="block-heading">
                <div class="main-text h2">
                    Parola Değiştir
                </div>
                <div class="block-controls">
                    <span aria-hidden="true" class="icon icon-arrow-down icon-size-medium block-control-collapse"></span>
                </div>
            </div>
            <div class="block-content-outer">
                <div class="block-content-inner">
                    <form role="form" action="/Personal/PasswordChange" method="post">
                        <div class="form-group">
                            <label for="oldpassword">Eski Parola</label>
                            <input type="text" class="form-control" id="oldpassword" placeholder="" name="OldPassword">
                        </div>
                        <div class="form-group">
                            <label for="newpassword">Yeni Parola</label>
                            <input type="password" class="form-control" id="newpassword" placeholder="" name="Password">
                            <p class="help-block">Parola en az 4 karakter olmalıdır.</p>
                        </div>
                        <div class="form-group">
                            <label for="newpasswordagain">Yeni Parola Tekrar</label>
                            <input type="password" class="form-control" id="newpasswordagain" placeholder="" name="PasswordAgain">
                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                    @if (ViewBag.Message != null)
                    {
                        <span id="spnmessage" style="font-size:20px">@ViewBag.Message</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

